body {
  max-width: 1440px;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body, header, footer  {
  font-family: "Avenir", sans-serif;
} */

.wrapper {
  margin: 0 auto;
  border: 1px solid black;
}

header {
  height: 100px;
  width: 100%;
}

nav {
  width: 100%;
  font-size: 2em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

nav li {
  display: inline;
  padding: 1em;
}

nav li a {
  text-decoration: none;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
  text-align: left;
}

/* Form */
.formContainer h1,
.alternativeAccess {
  text-align: center;
}

.formFields,
.submissionFields,
.alternativeAccess {
  padding-bottom: 1em;
}

.submissionFields {
  text-align: right;
}

/*.BehaviorPanel {
  margin: 0 3em;
}*/
